* {
    margin: 0;
    padding: 0;
}

#page1,
#page2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 128, 179);
    width: 100%;
    flex-direction: column;
    position: absolute;
}

a {
    color: rgb(255, 128, 179);
    text-decoration: none;
    margin-top: 50px;
    border: 1px solid rgb(255, 128, 179);
    padding: 10px 30px;
}

#page1 {
    background-color: ForestGreen;
}

#page2 {
    background-color: black;
}

.slide-in {
    animation: change 0.5s ease forwards;
}

@keyframes change {
    from {
        transform: translateX(100%);
        visibility: visible;
    }

    to {
        transform: translateX(0%);
    }
}