<html>

<head>
	<meta charset="utf-8" />
	<title>home</title>
	<style></style>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/gather.css">

<div class="screen">
	<input type="radio" id="_p0" name="pg" checked="checked" />
	<input type="radio" id="_p1" name="pg" />
	<div class="status">
		<div class="carrier">SKT</div>
		<style media="screen">
			#divClock {
				font-size: px;
				color: white;
			}
		</style>
		<script type="text/javascript">
			function showClock() {
				var currentDate = new Date();
				var divClock = document.getElementById('divClock');
				var msg = " ";
				if (currentDate.getHours() > 12) {      //시간이 12보다 크다면 pm 아니면 am
					msg += "PM ";
					msg += currentDate.getHours() - 12 + ":";
				}
				else {
					msg += "AM ";
					msg += currentDate.getHours() + ":";
				}

				msg += String(currentDate.getMinutes()).padStart(2, '0');


				divClock.innerText = msg;

				setTimeout(showClock, 1000);  //1초마다 갱신
			}
		</script>
		</head>

		<body onload="showClock()">
			<div id="divClock" class="clock">

			</div>

			<div class="battery">
				<div class="battery-meter">
					<div class="battery-meter-inner"></div>
				</div>
			</div>
	</div>

	<!-- 페이지 나누기/div page-1(p.1) -->
	<div class="pages">
		<div class="page">

			<div class="app">
				<a href="/ledon">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">led on</div>
			</div>

			<div class="app">
				<a href="/ledoff">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">led off</div>
			</div>


			<div class="app">
				<a href="2048.html">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">2048</div>
			</div>

			<div class="app">
				<a href="../tetris/tetris.html">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">tetris</div>
			</div>


			<div class="app">
				<a href="../minesweeper/minesweeper.html">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">minesweep</div>
			</div>

			<div class="app">
				<a href="../snake/snake.html">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">snake.io</div>
			</div>

			<div class="app">
				<a href="https://www.youtube.com/">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">Youtube</div>
			</div>

			<div class="app">
				<a href="../mapgame/mapgame.html">
					<div class="app-icon"></div>
				</a>
				<div class="app-name">jellyking</div>
			</div>

			<!-- fold1-앱 연결 안함/app 4개 -->
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>

				<!-- 폴더 이름 -->
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>



			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">Tetris</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
		</div>

		<!-- 페이지 나누기/p.2 -->
		<div class="page">
			<div class="app">
				<div class="app-icon"></div>
				<div class="app-name">App</div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
				<div class="app-name">App</div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
				<div class="app-name">App</div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
				<div class="app-name">App</div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
				<div class="app-name">App</div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
				<div class="app-name">App</div>
			</div>
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>

			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
		</div>


		<div class="bottom-bar">
			<div class="folder">
				<div class="folder-apps" tabindex="0">
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
					<div class="app">
						<div class="app-icon"></div>
						<div class="app-name">App</div>
					</div>
				</div>
				<div class="bg-blur"></div>
				<div class="folder-name">Folder</div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
			</div>
			<div class="app">
				<div class="app-icon"></div>
			</div>
		</div>
	</div>
	<div class="pagination">
		<label for="_p0"><span></span></label>
		<label for="_p1"><span></span></label>
	</div>
</div>

</html>